.container{
    padding-bottom: 150px;
}
input{
    margin-top: 60px;
    width: 300px;
}
.btn-danger{
    width: 150px;
    border-radius: 25px;
}
.btn:hover{
    background-color: green;
}
.h1{
    font-size: 30px;
}
.text-light{
    margin-left: 15px;
}
.card{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    margin-bottom: 10px;
}
.error{
    color: red;
    font-size: 20px;
}