.container-fluid {
    background-color: rgb(65, 68, 68);
    /* padding: 40px 10px 10px 10px; */
    position: fixed;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.left{
    display: flex;
}
.navbar-brand{
    font-size: 30px;
}
.navbar-item{
    text-decoration: none;
    font-size: 20px;
    color: aliceblue;
    margin-left: 20px;
    padding-top: 15px;
}
.navbar-item:hover{
    color: aqua;
    font-weight: 900;
}
.btn-success:hover{
    background-color: rgb(94, 94, 237);
    color: aliceblue;
}