.container{
    padding-bottom: 150px;
}
input{
    width: 300px;
}
.error{
    color: red;
    font-size: 15px;
}
a{
    text-decoration: none;
}
nav{
    font-size: 20px;
    background-color: aqua;
    padding-top: 15px;
    margin-bottom: 10px;
}
.card{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    margin-bottom: 10px;
}