<div class="container mt-3">
    <h1 class="text-primary fw-bold text-center">Please Login.......!</h1>
    <form [formGroup]="loginForm">
        <div class="mb-3 form-group">
            <label for="email" class="form-label">Email Address</label>
            <input type="email" class="form-control" placeholder="name@example.com" formControlName="email">
            <div class="form-text">
                <span class="form-text"
                    *ngIf="loginForm.get('email')?.hasError('required') && (loginForm.get('email')?.touched || submitted)">
                    Email is Required
                </span>
                <span class="form-text"
                    *ngIf="loginForm.get('email')?.hasError('email') && (loginForm.get('email')?.touched || submitted)">
                    Valid Email is Required
                </span>
            </div>
        </div>
        <div class="mb-3 form-group">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" placeholder="Enter Password" formControlName="password">
            <span class="form-text"
                *ngIf="!loginForm.get('password')?.valid && (loginForm.get('password')?.touched || submitted)">
                Password is Required
            </span>
        </div>
        <div>
            <button type="button" class="btn btn-success" (click)="onSubmit()">
                Submit
            </button>
            <button type="button" class="btn btn-secondary mx-3" (click)="onCancel()">
                Cancel
            </button>
        </div>
    </form>
</div>