<h1>Dashboard</h1>
<div class="container">
    <div class="row">
        <div class="col formGroup">
            <label for="collectionDate" class="form-label">CollectionDate</label>
            <input type="date" class="form-control">
        </div>
        <div class="col formGroup">
            <label for="shift" class="form-label">Shift</label>
            <select class="form-control">
                <option value="1">Select Shift</option>
                <option value="2">Morning</option>
                <option value="3">Evening</option>
            </select>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <div class="card">
                <h4 class="bg-success">Quality</h4>
                <p>Some Content</p>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h4 class="bg-warning">Quality</h4>
                <p>Some Content</p>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h4 class="bg-primary">Quality</h4>
                <p>Some Content</p>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h4 class="bg-danger">Quality</h4>
                <p>Some Content</p>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <div class="card">
                <h4 class="bg-success">Quality</h4>
                <p>Some Content</p>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h4 class="bg-warning">Quality</h4>
                <p>Some Content</p>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h4 class="bg-primary">Quantity</h4>
                <p>Some Content</p>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h4 class="bg-danger">Quality</h4>
                <p>Some Content</p>
            </div>
        </div>
    </div>
    <div class="mt-5">
        <table class="table table-bordered text-center">
                <thead>
                    <th>Sr No </th>
                    <th>Quantity</th>
                    <th>Material</th>
                    <th>MRP</th>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>4</td>
                    </tr>
                </tbody>
        </table>
    </div>
</div>